@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers to approximate Figma look */
/* body {
  background: #111214;
} */

/* custom scrollbar for preview area */
.preview-scroll::-webkit-scrollbar { height: 10px; width: 10px; }
.preview-scroll::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.25); border-radius: 999px; }
